* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html, body {
    overflow: hidden;
}

#export {
    position: absolute;
    right: 0;
    margin: 2rem;
    padding: 1rem;
}

#viewer-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}