* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html, body {
    overflow: hidden;
}

#viewer-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}